body {margin: 0;
}
.head {display: flex;
flex-direction: row;
gap: 100px;
background-color: aqua;
align-items: center;
padding-left: 10px;
font-size: 1.5em;
position: fixed;
width: 100%;
top: 0%;}
main {padding-left: 10px;
padding-top: 80px;
align-self: center;
}